## Finding time 0 values (time where troponin has changed by more than or equals to 20%)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read and display data
df = pd.read_csv("data-1.csv")
df.head()

,subject_id,hospital_expire_flag,deathtime,gender,anchor_age,dod,valuenum,valueuom,itemid,charttime,storetime,icu_intime,icu_outtime,aspirin,p2y12,other_antiplatelet,starttime,stoptime
0,10881690,0,NaN,F,74,NaN,4.9,g/dL,51222,25/4/2163 14:26,25/4/2163 15:20,25/4/2163 10:42,30/4/2163 22:43,0,0,1,25/4/2163 13:00,25/4/2163 13:00
1,10881690,0,NaN,F,74,NaN,4.8,g/dL,51222,25/4/2163 16:15,25/4/2163 16:48,25/4/2163 10:42,30/4/2163 22:43,0,0,1,25/4/2163 13:00,25/4/2163 13:00
2,10881690,0,NaN,F,74,NaN,8.6,g/dL,51222,25/4/2163 19:36,25/4/2163 20:16,25/4/2163 10:42,30/4/2163 22:43,0,0,1,25/4/2163 13:00,25/4/2163 13:00
3,10881690,0,NaN,F,74,NaN,9.0,g/dL,51222,25/4/2163 23:29,25/4/2163 23:58,25/4/2163 10:42,30/4/2163 22:43,0,0,1,25/4/2163 13:00,25/4/2163 13:00
4,10881690,0,NaN,F,74,NaN,8.2,g/dL,51222,26/4/2163 3:36,26/4/2163 4:18,25/4/2163 10:42,30/4/2163 22:43,0,0,1,25/4/2163 13:00,25/4/2163 13:00

In [3]:
# Determine dataset dimensions
df.shape

(245361, 18)

In [4]:
# Determine data types
df.dtypes

subject_id                int64
hospital_expire_flag      int64
deathtime                object
gender                   object
anchor_age                int64
dod                      object
valuenum                float64
valueuom                 object
itemid                    int64
charttime                object
storetime                object
icu_intime               object
icu_outtime              object
aspirin                   int64
p2y12                     int64
other_antiplatelet        int64
starttime                object
stoptime                 object
dtype: object

In [5]:
# Descriptive Statistics, might need to modify dataset to get accurate statistics (e.g. remove hemoglobin rows to get correct mean values for troponin levels)
df.describe()

,subject_id,hospital_expire_flag,anchor_age,valuenum,itemid,aspirin,p2y12,other_antiplatelet
count,2.453610e+05,245361.000000,245361.000000,245361.000000,245361.000000,245361.000000,245361.000000,245361.000000
mean,1.502712e+07,0.144106,67.736246,8.850248,51193.370169,0.844759,0.153749,0.001492
std,2.911408e+06,0.351198,13.454805,3.434529,73.826066,0.362135,0.360709,0.038594
min,1.000098e+07,0.000000,18.000000,0.010000,51003.000000,0.000000,0.000000,0.000000
25%,1.241235e+07,0.000000,59.000000,8.000000,51222.000000,1.000000,0.000000,0.000000
50%,1.514165e+07,0.000000,69.000000,9.400000,51222.000000,1.000000,0.000000,0.000000
75%,1.755180e+07,0.000000,78.000000,10.800000,51222.000000,1.000000,0.000000,0.000000
max,1.999775e+07,1.000000,91.000000,42.600000,51222.000000,1.000000,1.000000,1.000000

In [6]:
# Remove rows with hemoglobin values (to reduce dataset size for the purposes of analysing troponin values only)
df_hemoglobin_removed = df[df["itemid"] != 51222] # itemid of hemoglobin is 51222
df_hemoglobin_removed.shape

(32076, 18)

In [7]:
# Count the total number of unique subjects (patients)
n = len(pd.unique(df_hemoglobin_removed['subject_id']))
print("No.of.patients :", n)

# Generate list of subject IDs
patient_ids = pd.unique(df_hemoglobin_removed['subject_id'])
print("List of Subject IDs: ", patient_ids)

No.of.patients : 5153
List of Subject IDs:  [12588030 12859888 13660560 ... 19995780 19997293 19997752]

In [8]:
# Create list to store indexes of records which represent times where troponin change is above or equal to 20%
indexes_with_troponin_change = []

# Check whether troponin levels change by more than or equal to 20% for each subject
for i in patient_ids:
    # Isolate the various rows of records for the individual subject
    subject = df_hemoglobin_removed[df_hemoglobin_removed["subject_id"] == i]
    
    # Sort the rows by storetime (time troponin measurements were made available to clinicians) in ascending order
    subject1 = subject.sort_values(by=['storetime'])
    
    # Drop duplicate rows showing troponin values taken from the same measurement
    subject1 = subject1.drop_duplicates(subset=['storetime'])
    
    if len(subject1.index) == 1:   # Exclude people with only 1 troponin data point
        continue
    
    else:
        # Convert storetime variable into datetime data type and calculate time difference between troponin measurements. Store time difference between troponin measurements in a new variable
        subject1['Time_diff_between_Troponin_measurements'] = pd.to_datetime(subject1["storetime"].astype(str), format='%d/%m/%Y %H:%M').diff(1).dt.total_seconds().div(3600)
    
        for i in range(len(subject1.index) - 1):   # Iterate over the rows (representing different troponin measurements, in chronological order) for each subject
            # Get troponin value from initial row
            troponin_1st_reading = subject1._get_value(subject1.index[i], 'valuenum')

            # Get troponin value from subsequent row
            troponin_2nd_reading = subject1._get_value(subject1.index[i+1], 'valuenum')
            
            # Get time difference between troponin measurements in initial and subsequent row
            time_diff_between_troponin_measurements = subject1._get_value(subject1.index[i+1], 'Time_diff_between_Troponin_measurements')
            
            # If loop to determine if the absolute difference in troponin values is greater than 20% and if the time difference between troponin measurements is less than 12 hours
            if np.abs((troponin_2nd_reading - troponin_1st_reading)/troponin_1st_reading) >= 0.2 and time_diff_between_troponin_measurements < 12:
                indexes_with_troponin_change.append(subject1.index[i+1])   # Include subject_id in list of subjects with troponin change greater than 20%

In [9]:
print(indexes_with_troponin_change)
print(len(indexes_with_troponin_change))

[38, 71, 66, 78, 173, 178, 223, 194132, 242, 197723, 197772, 197777, 295, 377, 372, 373, 386, 433, 492, 38581, 605, 638, 653, 670, 714, 782, 790, 788, 800, 799, 807, 808, 830, 872, 846, 853, 820, 889, 895, 900, 972, 981, 1009, 1017, 1069, 1071, 1072, 1087, 1096, 41245, 1174, 1172, 1177, 1179, 1192, 1194, 1195, 1249, 1372, 1370, 1374, 1394, 1440, 1476, 1475, 1504, 1502, 1507, 1516, 1532, 1583, 1624, 1766, 1817, 1818, 44315, 1829, 1910, 1908, 1964, 1969, 1978, 1981, 1996, 45331, 45279, 45287, 45282, 45336, 2013, 2074, 2122, 2152, 2183, 2203, 2205, 2336, 2333, 2395, 2408, 2498, 48317, 48292, 48295, 2684, 48884, 49041, 2933, 2938, 2970, 2979, 2981, 3072, 3237, 3251, 3301, 3302, 51239, 51237, 51242, 3363, 3387, 52193, 3410, 3412, 3414, 3432, 3463, 3494, 3505, 3499, 3501, 3498, 3570, 3571, 3632, 3614, 3606, 3645, 3643, 3743, 3790, 3799, 3815, 3821, 3822, 3845, 55459, 3856, 3909, 3986, 4001, 4002, 4021, 4027, 4048, 4054, 56104, 56663, 56681, 56709, 4184, 4210, 4249, 4275, 4312, 4310, 4321, 57962, 57968, 4362, 4401, 58211, 58196, 4415, 4421, 4418, 4461, 4486, 59267, 4575, 4672, 4689, 4694, 4699, 60012, 60153, 60118, 4733, 60127, 4798, 4799, 4807, 4819, 4823, 4825, 4877, 4894, 4897, 4918, 4910, 4912, 4929, 4930, 4932, 4942, 62103, 62003, 62043, 5080, 5180, 5176, 5213, 5216, 5241, 5280, 5276, 5284, 5289, 5296, 5298, 5299, 5361, 5381, 63937, 5410, 5440, 5447, 64613, 64497, 64619, 5593, 5594, 5596, 64706, 5677, 5680, 5694, 5696, 65188, 5693, 65201, 5699, 5717, 5715, 5772, 5795, 5860, 5858, 5890, 5893, 5929, 5934, 66718, 5970, 5999, 6001, 6009, 6039, 6041, 6141, 6159, 6160, 6170, 68557, 6262, 6275, 6276, 6278, 68834, 68825, 68842, 6303, 6331, 6332, 6410, 69771, 69808, 69813, 69809, 6447, 6459, 6460, 6468, 70221, 70414, 71332, 7104, 71356, 7112, 7136, 7172, 7173, 7185, 7213, 7218, 7220, 7237, 7247, 7253, 7254, 7274, 7315, 7454, 75231, 75214, 7493, 7520, 7552, 7640, 7648, 7659, 76184, 76127, 7756, 7743, 7745, 7772, 7816, 7838, 7839, 7841, 78479, 78438, 78416, 78417, 78869, 8079, 8081, 8090, 8093, 8103, 8101, 8127, 8149, 8150, 8148, 8164, 79545, 8476, 8481, 79990, 8508, 8517, 8531, 8574, 8590, 8592, 8619, 8618, 8717, 8718, 8721, 8766, 8810, 8828, 8824, 8834, 8851, 8879, 8884, 8995, 8998, 9008, 9009, 85116, 9067, 9099, 9108, 85803, 85787, 9126, 9367, 86818, 9404, 87156, 87134, 9430, 9478, 9480, 9503, 9559, 87732, 9590, 9592, 9619, 9631, 9627, 9641, 9655, 9673, 9676, 9677, 9679, 9688, 9698, 9714, 89099, 9771, 9799, 9794, 9889, 9912, 9914, 9919, 9916, 9918, 9999, 10000, 10002, 10007, 10030, 10075, 10073, 10079, 10145, 10146, 10153, 10155, 91755, 91929, 91926, 10396, 10416, 10516, 10520, 10566, 10563, 93401, 93399, 10606, 10652, 10667, 10698, 10694, 10704, 10739, 10735, 10743, 10745, 10776, 10833, 10835, 10837, 10873, 10933, 10935, 10937, 10995, 10996, 11011, 11015, 11030, 11040, 11050, 11063, 11061, 11074, 11075, 11093, 11139, 97139, 11149, 11164, 11184, 11185, 11186, 11315, 11337, 11338, 97870, 11415, 11417, 11429, 11482, 11485, 11583, 11598, 11601, 11602, 11599, 99684, 99611, 11811, 100443, 11857, 11876, 11880, 11881, 100955, 11905, 11903, 11926, 11928, 101146, 12016, 12029, 12026, 12064, 12067, 12063, 12073, 12115, 12117, 12169, 103034, 12221, 12250, 12282, 12519, 12521, 12554, 12576, 105535, 12683, 12689, 106404, 12698, 12748, 12766, 12770, 12777, 12793, 12815, 12812, 12845, 12853, 12855, 12861, 12951, 12969, 13067, 13117, 13139, 13145, 13174, 13185, 13202, 13200, 13212, 13297, 13299, 13364, 13385, 13398, 13435, 13469, 111162, 111165, 13453, 13450, 112298, 112335, 13632, 13640, 13642, 13649, 13707, 13730, 13776, 113952, 13787, 114130, 114127, 114121, 13808, 114109, 13841, 14012, 14014, 14028, 14060, 14067, 14070, 14077, 14101, 14102, 14097, 14113, 14111, 14172, 14224, 14226, 14255, 14262, 14259, 117119, 117149, 14401, 14406, 117467, 117451, 117452, 14455, 117909, 117860, 14501, 14538, 14549, 14575, 14592, 14623, 14634, 14676, 14714, 14729, 14747, 14762, 14763, 14849, 14860, 14863, 14880, 14934, 14948, 15017, 15018, 15019, 15036, 15039, 15074, 15107, 121984, 15147, 15163, 15209, 122914, 122909, 122888, 15228, 122915, 15225, 122925, 15259, 15282, 15302, 15404, 15465, 15484, 15500, 15508, 15525, 15532, 15547, 124503, 124576, 15570, 15571, 15609, 15639, 15635, 15637, 15641, 124713, 15647, 15682, 15697, 15715, 15720, 15722, 15784, 15786, 15781, 15806, 15810, 15848, 15845, 126363, 15937, 15938, 15988, 15999, 16000, 16027, 16098, 16115, 16127, 16173, 16176, 16197, 16237, 16267, 16268, 16328, 16348, 16349, 16350, 16351, 16375, 16474, 16504, 16581, 16578, 16593, 16591, 129859, 16628, 16654, 16655, 16661, 16668, 16664, 16665, 130295, 16725, 16726, 16745, 16787, 16796, 16827, 130918, 16857, 16914, 16910, 16917, 132477, 17090, 17126, 17189, 17191, 17234, 17236, 17289, 17308, 17312, 17438, 17450, 17472, 17470, 17616, 17635, 17665, 17667, 17698, 17726, 17729, 17782, 17783, 17888, 138139, 138016, 17998, 18012, 18016, 18021, 18126, 18134, 18189, 18206, 18249, 18245, 18251, 18271, 18282, 18308, 18310, 18335, 18417, 18422, 18419, 18434, 18470, 18472, 18507, 18510, 18649, 18684, 144059, 18756, 18753, 18812, 18811, 18819, 18828, 18861, 18884, 18899, 18963, 18966, 19025, 19024, 19026, 146524, 146477, 19093, 19104, 19105, 19251, 19249, 148838, 148856, 148841, 148860, 19401, 19403, 150057, 19697, 19724, 152554, 152552, 152535, 152848, 152845, 19981, 152957, 20073, 20100, 20102, 20105, 20139, 20140, 20142, 20414, 20440, 20443, 20532, 20531, 20554, 20558, 20573, 20574, 20578, 20580, 20591, 20594, 20664, 20714, 20727, 20743, 20765, 20766, 20767, 156795, 156779, 20777, 20799, 20804, 20884, 20915, 20912, 21087, 21370, 21371, 21372, 21507, 21602, 21608, 21614, 158470, 158465, 21631, 21653, 21686, 21691, 21688, 21700, 21727, 21783, 21817, 159580, 21821, 21839, 21852, 159584, 21870, 21900, 21910, 21929, 21941, 21946, 21989, 22024, 22029, 22056, 22060, 22070, 22066, 22071, 22082, 22099, 22096, 22106, 22108, 162154, 22225, 22236, 22269, 22266, 162795, 162796, 22532, 22528, 22529, 22585, 22591, 22613, 22895, 22997, 23165, 23180, 23193, 23198, 23248, 23273, 23342, 166267, 23361, 23363, 23379, 23385, 23393, 23395, 23392, 23397, 23537, 23543, 23554, 23551, 23552, 23565, 23568, 23586, 23641, 23638, 23652, 23810, 169959, 169957, 23815, 23832, 23875, 23877, 23907, 23909, 23926, 24108, 24103, 24105, 24132, 24198, 24203, 24207, 24214, 24229, 24232, 24335, 24362, 172401, 24356, 172493, 24428, 24442, 24464, 24474, 24497, 24703, 24711, 24712, 24714, 24720, 24737, 24783, 24785, 24789, 24830, 24844, 175187, 24922, 24960, 24962, 24972, 25075, 25073, 25079, 25081, 25089, 177184, 25188, 25190, 177718, 25319, 177645, 177658, 177698, 177699, 25292, 25293, 25380, 25456, 25453, 25540, 25591, 25613, 25655, 25661, 25673, 25743, 25840, 25838, 25856, 25868, 25864, 25865, 25923, 25934, 181466, 181462, 181439, 26001, 26053, 26051, 182146, 26110, 26114, 26116, 26228, 26247, 26254, 26265, 26271, 183695, 183715, 26279, 183719, 26320, 26332, 26497, 26502, 26634, 26681, 26688, 26691, 26696, 26709, 26722, 26721, 26729, 27057, 27060, 27074, 185788, 27157, 27191, 27207, 186253, 27252, 27244, 27262, 27368, 27370, 187757, 187759, 187747, 27442, 27445, 27448, 27466, 27474, 27475, 27484, 189003, 27561, 189894, 189890, 27712, 27757, 27769, 27767, 27787, 27807, 190667, 27821, 27836, 27840, 28124, 28341, 28342, 28353, 28365, 28494, 193256, 28559, 28572, 193354, 28619, 28652, 28672, 28673, 28843, 28855, 28873, 195927, 29137, 29156, 29169, 29248, 29245, 29397, 29427, 29512, 29600, 29613, 29644, 29689, 29687, 29797, 29794, 29822, 29821, 29848, 29850, 199870, 199815, 30005, 30008, 30129, 200066, 30227, 30370, 30507, 200359, 30563, 30565, 30582, 30620, 30618, 30622, 30632, 201501, 201494, 30692, 30752, 201990, 30791, 30809, 202432, 202482, 202422, 30904, 30906, 30960, 30965, 30989, 31009, 30996, 31029, 31055, 31088, 31173, 31174, 31186, 31190, 31268, 31293, 31288, 31305, 31322, 31319, 31327, 31369, 206191, 31402, 31410, 31431, 31497, 31504, 31585, 31587, 31608, 31645, 31649, 31666, 31668, 31700, 31755, 31763, 31791, 31843, 31819, 31847, 208327, 208364, 31900, 208323, 31993, 31994, 32016, 32046, 32044, 32056, 32062, 32064, 32139, 32216, 32213, 32273, 32315, 32344, 32352, 32365, 210538, 32386, 32414, 32416, 32418, 32425, 211110, 32489, 32492, 32522, 32548, 32579, 32580, 32614, 212803, 32913, 32931, 32954, 32952, 32989, 33022, 33032, 33039, 33045, 33041, 33046, 33070, 33082, 33112, 33143, 215757, 215749, 33170, 33227, 33279, 33293, 33306, 33336, 33341, 33352, 217280, 217304, 33403, 33413, 33451, 33493, 33502, 33498, 33507, 218150, 218157, 218701, 218689, 33702, 33718, 33791, 33812, 33813, 220022, 220009, 220010, 220008, 33873, 33886, 33891, 33901, 33925, 33971, 33973, 34058, 34075, 34087, 34175, 34172, 34183, 34181, 34302, 34320, 224656, 224696, 224567, 34410, 34447, 226392, 226312, 226425, 34717, 34744, 34766, 34804, 34836, 34811, 34883, 34885, 34917, 34918, 34920, 34950, 34964, 35032, 35317, 35398, 35544, 230202, 35568, 35580, 35587, 230271, 35694, 35716, 35721, 35726, 35908, 35942, 231916, 231938, 36051, 36165, 36189, 36207, 36236, 36258, 233723, 233718, 36316, 36388, 36390, 36393, 36566, 36546, 236899, 236859, 236879, 36613, 36615, 36630, 36760, 36802, 36813, 36818, 36825, 36835, 36852, 238531, 238466, 36968, 36970, 36994, 37179, 37166, 37196, 37218, 37229, 37282, 37509, 37589, 37591, 37622, 37619, 37624, 37655, 37647, 242675, 37889, 37894, 244122, 244121, 37998, 37999, 38013, 38018, 38057, 38064, 38066, 38198, 38224, 38263, 38271, 38268, 38276, 38535, 38987, 39008, 39024, 39347, 39459, 39467, 39469, 39492, 39494, 39666, 39756, 39754, 39778, 39782, 39785, 39936, 40187, 40205, 40296, 40297, 40283, 40328, 40387, 40753, 40767, 40770, 40813, 40809, 40843, 41024, 41021, 41200, 41398, 41399, 41432, 41445, 41801, 41824, 41983, 42043, 42248, 42344, 42401, 42418, 42588, 42593, 42487, 42717, 42789, 42878, 42886, 43042, 43137, 43139, 43164, 43183, 43187, 43272, 43301, 43306, 43303, 43497, 43624, 43738, 43816, 44002, 44008, 44046, 44098, 44100, 44341, 44339, 44363, 44389, 44575, 44678, 44680, 44683, 44762, 44841, 44838, 44935, 44938, 44943, 44981, 45007, 45185, 45245, 45384, 45398, 45550, 45542, 45627, 45628, 45636, 45707, 45993, 46020, 46160, 46452, 46483, 46512, 46532, 46570, 46614, 46722, 46720, 46750, 46754, 46964, 46967, 47051, 47111, 47208, 47273, 47330, 47454, 47462, 47647, 47778, 47781, 47860, 47918, 47936, 47937, 47953, 48065, 48095, 48138, 48607, 49234, 49241, 49242, 49400, 49540, 49543, 49786, 49788, 49783, 49789, 49988, 50052, 50423, 50629, 50625, 50651, 50652, 50648, 50678, 50672, 50674, 50766, 50845, 52077, 52080, 52081, 52084, 52079, 52145, 52300, 52465, 52493, 52637, 52635, 52658, 52655, 52651, 52933, 53085, 53176, 53204, 53206, 53298, 53296, 53304, 53329, 53375, 53397, 53408, 53522, 53791, 53730, 53820, 53926, 53922, 53956, 53959, 54121, 54187, 54184, 54337, 54374, 54748, 54906, 54925, 54926, 54969, 54965, 54966, 54979, 54990, 54993, 55312, 55386, 55388, 55587, 55913, 55992, 56220, 56315, 56368, 56450, 56899, 56901, 56953, 56955, 56958, 56960, 56962, 57030, 57102, 57178, 57270, 57369, 57370, 57392, 57556, 57563, 57554, 57619, 57668, 57665, 57710, 57901, 57999, 58150, 58314, 58309, 58336, 58630, 58686, 58765, 58840, 58856, 58912, 58914, 58940, 59116, 59013, 59126, 59123, 59022, 59190, 59250, 59245, 59260, 59262, 59378, 59416, 59414, 59463, 59461, 59696, 59742, 59950, 60186, 60368, 60421, 60484, 60585, 60490, 60487, 60491, 60999, 61116, 61228, 61255, 61383, 61428, 61430, 61533, 61632, 61828, 61835, 61903, 62245, 62241, 62282, 62361, 62497, 62498, 62552, 62576, 62625, 62647, 62678, 62686, 62683, 62862, 62860, 63001, 63081, 63075, 63077, 63115, 63645, 63648, 63647, 63695, 63835, 63929, 64052, 64118, 64149, 64145, 64259, 64303, 64748, 64949, 64947, 65062, 65174, 65176, 65175, 65235, 65293, 65295, 65362, 65451, 65458, 65690, 65830, 65850, 65926, 65934, 65938, 66061, 66067, 66073, 66089, 66092, 66105, 66107, 66112, 66173, 66197, 66270, 66357, 66621, 66625, 66643, 66666, 66669, 66662, 67008, 67010, 67510, 67542, 67701, 67730, 67779, 67776, 67873, 67871, 68311, 68527, 68593, 68595, 68675, 68684, 68720, 68722, 68810, 68815, 68905, 69353, 69396, 69580, 69858, 69866, 69864, 70040, 69988, 69991, 69993, 69996, 70067, 70081, 70132, 70133, 70270, 70271, 70316, 70791, 70815, 70822, 70803, 71192, 71238, 71580, 71670, 71709, 71707, 72481, 72483, 72594, 72597, 72637, 72634, 72726, 72778, 72934, 73177, 73315, 73319, 73329, 73332, 73615, 73562, 73621, 73834, 73873, 73883, 73882, 73992, 74043, 74142, 74140, 74758, 74763, 74764, 74766, 74773, 74775, 75107, 75154, 75185, 75187, 75200, 75202, 75427, 75535, 75577, 75575, 75720, 75827, 75824, 75857, 75858, 75951, 76009, 76062, 76228, 76233, 76231, 76267, 76269, 76309, 76328, 76325, 76345, 76367, 76471, 76648, 76642, 76644, 76657, 76653, 76773, 76837, 76897, 76892, 76923, 76973, 77563, 77952, 77998, 78296, 78302, 78307, 78345, 78504, 78500, 78502, 78758, 78760, 78767, 78843, 79118, 79149, 79194, 79214, 79442, 79909, 80013, 80022, 80110, 80112, 80151, 80191, 80306, 80328, 80402, 80403, 80408, 80570, 80607, 80665, 80666, 80692, 81248, 81711, 81717, 81828, 81829, 81831, 81834, 82139, 82163, 82166, 82346, 82514, 82521, 82650, 82651, 82648, 82673, 82704, 82701, 82855, 83604, 83696, 83747, 83826, 83896, 83922, 83928, 83952, 83955, 83963, 84121, 84119, 84160, 84235, 84320, 84322, 84351, 84733, 85168, 85177, 85240, 85236, 85242, 85277, 85275, 85313, 85858, 86093, 86258, 86490, 86557, 86870, 87014, 87023, 87042, 87049, 87065, 87067, 87086, 87176, 87297, 87358, 87405, 87395, 87510, 87516, 87517, 87512, 87560, 87579, 87582, 87644, 87655, 87681, 87682, 87684, 87787, 87788, 87855, 88112, 88271, 88732, 88736, 88991, 89142, 89151, 89154, 89239, 89212, 89281, 89284, 89289, 89304, 89322, 89505, 89499, 89625, 89621, 89749, 89766, 89980, 90105, 90246, 90256, 90288, 90292, 90290, 90367, 90441, 90437, 90532, 90534, 90666, 90673, 90675, 90767, 90765, 90768, 90795, 90905, 91342, 91403, 91405, 91490, 91563, 91620, 91673, 91975, 91979, 91978, 92129, 92246, 92244, 92818, 92948, 93081, 93089, 93445, 93472, 93468, 93474, 93554, 93557, 93653, 93655, 93719, 93809, 93811, 93824, 93860, 93875, 94003, 94139, 94141, 94358, 94670, 94859, 95108, 95062, 95106, 95110, 95521, 95548, 95595, 95833, 95828, 95825, 95921, 95923, 95981, 95983, 96025, 96061, 96073, 96076, 96211, 96254, 96346, 96459, 96455, 96492, 96713, 96813, 96955, 96958, 96957, 96987, 97122, 97164, 97161, 97192, 97613, 97621, 97622, 97701, 97778, 97816, 97829, 97941, 97979, 98137, 98184, 98505, 98506, 98519, 98666, 99065, 99089, 99349, 99705, 99805, 99816, 99876, 100347, 100348, 100357, 100506, 100507, 100584, 100616, 100612, 100623, 100736, 100733, 100840, 100905, 100906, 101240, 101502, 101500, 101720, 101721, 101716, 101698, 101822, 101884, 101947, 101999, 102112, 102126, 102127, 102197, 102250, 102251, 102333, 102331, 102334, 102539, 102586, 102590, 102725, 102729, 102945, 102978, 103154, 103483, 103563, 103976, 104257, 104306, 104649, 104507, 104667, 104617, 104791, 104815, 104810, 104811, 104813, 104973, 105442, 105948, 106211, 106214, 106204, 106232, 106260, 106262, 106312, 106387, 106589, 107065, 107245, 107394, 107391, 107446, 107448, 107492, 107577, 107639, 107635, 107643, 107645, 107738, 107889, 107892, 108179, 108592, 108617, 108614, 108620, 108943, 109045, 109166, 109144, 109205, 109203, 109247, 109296, 109359, 109357, 109558, 109583, 109606, 109636, 109640, 109894, 109891, 109917, 109920, 109933, 109971, 110086, 110088, 110272, 110421, 110487, 110594, 110666, 110738, 110903, 110937, 111000, 111420, 111469, 111458, 111795, 111802, 111949, 111988, 111990, 112207, 112205, 112242, 112262, 112498, 112509, 112809, 113358, 113380, 113419, 113457, 113484, 113611, 113614, 113631, 113633, 113802, 114048, 114064, 114226, 114564, 114572, 114783, 114866, 114972, 115013, 115265, 115371, 115538, 115598, 115875, 115885, 115958, 116012, 116039, 116043, 116095, 116116, 116117, 116299, 116673, 116736, 117335, 117390, 117723, 117786, 117794, 117802, 117799, 117934, 117969, 117976, 117978, 117979, 118221, 118564, 118650, 118868, 118935, 118942, 118964, 118971, 118967, 119169, 119171, 119366, 119369, 119393, 119395, 119730, 119731, 120081, 120387, 120402, 120404, 120438, 120439, 120442, 120499, 120553, 120917, 120919, 120980, 121074, 121075, 121073, 121169, 121256, 121305, 121397, 121541, 121624, 121637, 121635, 121639, 121908, 121910, 121995, 121997, 122301, 122298, 122342, 122456, 122663, 123080, 123085, 123082, 123141, 123162, 123164, 123187, 123189, 123235, 123238, 123216, 123221, 123242, 123246, 123385, 123438, 123924, 123926, 123932, 123974, 124126, 124463, 124759, 124756, 124830, 124904, 125048, 125060, 125143, 125253, 125255, 125257, 125410, 125407, 125406, 125555, 125602, 125599, 125691, 125897, 125894, 126096, 126265, 126290, 126358, 126719, 126720, 126986, 126988, 127478, 127558, 127647, 127695, 127880, 127876, 127983, 127979, 127991, 128100, 128108, 128446, 128456, 128451, 128653, 128602, 128752, 128767, 128858, 128923, 128992, 129006, 129005, 129007, 129159, 129157, 129179, 129457, 129488, 129512, 129510, 129517, 129520, 129591, 129820, 129817, 129824, 129962, 130041, 130086, 130249, 130383, 130380, 130680, 130727, 130780, 130805, 130975, 131025, 131028, 131401, 131403, 131530, 131889, 131892, 131893, 131905, 131912, 131940, 131951, 132064, 132100, 132189, 132191, 132204, 132217, 132218, 132222, 132358, 132360, 132621, 132618, 132928, 132929, 132935, 132930, 133011, 133027, 133029, 133218, 133323, 133447, 133452, 134162, 134161, 134185, 134341, 134443, 134511, 134489, 134578, 134598, 134599, 134607, 134721, 135099, 135157, 135155, 135153, 135276, 135322, 135534, 135565, 135567, 135637, 135634, 135697, 135801, 136076, 136140, 136268, 136265, 136429, 136538, 136540, 136577, 136593, 136604, 136631, 136632, 136630, 136922, 136924, 137286, 137294, 137298, 137463, 137441, 137679, 137686, 137709, 137710, 137728, 137744, 137736, 137897, 137938, 138311, 138308, 138335, 138357, 138429, 138407, 138669, 138664, 138666, 138662, 138679, 138677, 138735, 138812, 138810, 139066, 139062, 139167, 139165, 139183, 139188, 139234, 139262, 139300, 139396, 139392, 139618, 139623, 139620, 139652, 139892, 139978, 140214, 140231, 140330, 140354, 140432, 140529, 140527, 140537, 140641, 140642, 140700, 140724, 140737, 141513, 141521, 141608, 141655, 141761, 141966, 141961, 141984, 141985, 142050, 142152, 142191, 142239, 142260, 142669, 142741, 143056, 143069, 143212, 143265, 143317, 143348, 143522, 143536, 143551, 143548, 143719, 143720, 143873, 144277, 144293, 144315, 144321, 144343, 144589, 144590, 144632, 144703, 144705, 144745, 145078, 145198, 145244, 145346, 145446, 145535, 145537, 145560, 145737, 145886, 145897, 145962, 146038, 146059, 146067, 146068, 146070, 146074, 146136, 146138, 146208, 146256, 146401, 146445, 146616, 146976, 146978, 146975, 147053, 147048, 147056, 147159, 147161, 147281, 147277, 147280, 147380, 147381, 147376, 147373, 147431, 147601, 147609, 147658, 147660, 147669, 147663, 147776, 147812, 147814, 147849, 147853, 147924, 147920, 147944, 147946, 147947, 148352, 148407, 148456, 148502, 148547, 148902, 148899, 149394, 149407, 149410, 149593, 149614, 149617, 149619, 150134, 150131, 150354, 150455, 150412, 150318, 150410, 150552, 150632, 150627, 150718, 150720, 150727, 150729, 150730, 150752, 150793, 150795, 150813, 150818, 151597, 151557, 151943, 152290, 152300, 152337, 152447, 152744, 152891, 152889, 152985, 153209, 153275, 153344, 153541, 154351, 154467, 154840, 154863, 154864, 155124, 155180, 155218, 155215, 155564, 155575, 155769, 155784, 155786, 155783, 155789, 155790, 155952, 155948, 156002, 156001, 156024, 156052, 156054, 156181, 156596, 156707, 156830, 156903, 156927, 156980, 157284, 157286, 157288, 157461, 157590, 157819, 157834, 157842, 157934, 158330, 158331, 158548, 158551, 158582, 158643, 158647, 158650, 158651, 158653, 158806, 159222, 159274, 159719, 159784, 160102, 160300, 160399, 160402, 160444, 160577, 160653, 160682, 160999, 161040, 161042, 161045, 161443, 161445, 162074, 162100, 162490, 162527, 162536, 162564, 162571, 162573, 162566, 16

In [10]:
# Find rows with subject_id and storetime values. These storetime values represent the time0 values where the troponin level has changed by more than or equal to 20%
relevant_indexes_with_time0_values = df.loc[np.array(indexes_with_troponin_change), ["subject_id","storetime"]]
relevant_indexes_with_time0_values

        subject_id         storetime
38        12588030  10/12/2129 21:19
71        12859888    1/3/2121 22:24
66        12859888     1/3/2121 6:27
78        13660560   22/9/2154 19:39
173       16711022   25/10/2204 5:29
...            ...               ...
244654    19979663    9/5/2159 16:45
244699    19982539   24/4/2175 17:15
244709    19982539    30/4/2175 3:36
244808    19985259   20/12/2129 0:20
244821    19985259   20/12/2129 8:01

[3633 rows x 2 columns]

## Finding Anti Platelet Treatments within 24 hours of >20% Troponin Change

In [11]:
modified_df = df.loc[np.array(indexes_with_troponin_change), ["subject_id","storetime", "aspirin", "p2y12", "other_antiplatelet", "starttime"]]
modified_df.head()

,subject_id,storetime,aspirin,p2y12,other_antiplatelet,starttime
38,12588030,10/12/2129 21:19,0,0,1,11/12/2129 20:00
71,12859888,1/3/2121 22:24,0,0,1,1/3/2121 6:00
66,12859888,1/3/2121 6:27,0,0,1,1/3/2121 6:00
78,13660560,22/9/2154 19:39,0,0,1,22/9/2154 18:00
173,16711022,25/10/2204 5:29,0,0,1,25/10/2204 1:00

In [17]:
# Convert storetime variable into datetime data type and calculate time difference between troponin measurements. Store time difference between troponin measurements in a new variable
pd.to_datetime(modified_df["starttime"].astype(str), format='%d/%m/%Y %H:%M')
modified_df['Time_to_treatment_after_troponin_change'] = modified_df["storetime"] - modified_df["starttime"]
#modified_df['Time_to_treatment_after_troponin_change'] = pd.Timedelta(modified_df["starttime"] - modified_df["storetime"]).seconds / 3600.0
modified_df.head()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
# If loop to determine if the absolute difference in troponin values is greater than 20% and if the time difference between troponin measurements is less than 12 hours
if np.abs((troponin_2nd_reading - troponin_1st_reading)/troponin_1st_reading) >= 0.2 and time_diff_between_troponin_measurements < 12:
                indexes_with_troponin_change.append(subject1.index[i+1])   # Include subject_id in list of subjects with troponin change greater than 20%

## Code for Single Patient Case (For Reference, can ignore)

In [12]:
subject = df_hemoglobin_removed[df_hemoglobin_removed["subject_id"] == 16243121]
subject1 = subject.sort_values(by=['storetime'])
subject1 = subject1.drop_duplicates(subset=['storetime'])
subject1.head()

,subject_id,hospital_expire_flag,deathtime,gender,anchor_age,dod,valuenum,valueuom,itemid,charttime,storetime,icu_intime,icu_outtime,aspirin,p2y12,other_antiplatelet,starttime,stoptime
23377,16243121,0,NaN,M,57,NaN,6.28,ng/mL,51003,7/12/2117 10:18,7/12/2117 11:44,7/12/2117 7:01,8/12/2117 15:03,0,1,0,8/12/2117 8:00,10/12/2117 19:00
23379,16243121,0,NaN,M,57,NaN,8.35,ng/mL,51003,7/12/2117 18:00,7/12/2117 19:59,7/12/2117 7:01,8/12/2117 15:03,0,1,0,8/12/2117 8:00,10/12/2117 19:00
23380,16243121,0,NaN,M,57,NaN,7.11,ng/mL,51003,7/12/2117 19:45,7/12/2117 20:30,7/12/2117 7:01,8/12/2117 15:03,0,1,0,8/12/2117 8:00,10/12/2117 19:00
23381,16243121,0,NaN,M,57,NaN,6.71,ng/mL,51003,8/12/2117 5:40,8/12/2117 7:36,7/12/2117 7:01,8/12/2117 15:03,0,1,0,8/12/2117 8:00,10/12/2117 19:00

In [13]:
# Convert storetime variable into datetime data type and calculate time difference between troponin measurements
subject1['Time_diff_between_Troponin_measurements'] = pd.to_datetime(subject1["storetime"].astype(str), format='%d/%m/%Y %H:%M').diff(1).dt.total_seconds().div(3600)

subject1.head()

,subject_id,hospital_expire_flag,deathtime,gender,anchor_age,dod,valuenum,valueuom,itemid,charttime,storetime,icu_intime,icu_outtime,aspirin,p2y12,other_antiplatelet,starttime,stoptime,Time_diff_between_Troponin_measurements
23377,16243121,0,NaN,M,57,NaN,6.28,ng/mL,51003,7/12/2117 10:18,7/12/2117 11:44,7/12/2117 7:01,8/12/2117 15:03,0,1,0,8/12/2117 8:00,10/12/2117 19:00,NaN
23379,16243121,0,NaN,M,57,NaN,8.35,ng/mL,51003,7/12/2117 18:00,7/12/2117 19:59,7/12/2117 7:01,8/12/2117 15:03,0,1,0,8/12/2117 8:00,10/12/2117 19:00,8.250000
23380,16243121,0,NaN,M,57,NaN,7.11,ng/mL,51003,7/12/2117 19:45,7/12/2117 20:30,7/12/2117 7:01,8/12/2117 15:03,0,1,0,8/12/2117 8:00,10/12/2117 19:00,0.516667
23381,16243121,0,NaN,M,57,NaN,6.71,ng/mL,51003,8/12/2117 5:40,8/12/2117 7:36,7/12/2117 7:01,8/12/2117 15:03,0,1,0,8/12/2117 8:00,10/12/2117 19:00,11.100000

In [14]:
if len(subject1.index) == 1:    # Exclude people with only 1 troponin data point
    continue
else:    # Iterate over the rows for each subject
    for i in range(len(subject1.index) - 1):
        troponin_1st_reading = subject1._get_value(subject1.index[i], 'valuenum')     # Get troponin value from initial row
        troponin_2nd_reading = subject1._get_value(subject1.index[i+1], 'valuenum')   # Get troponin value from subsequent row
        time_diff_between_troponin_measurements = subject1._get_value(subject1.index[i+1], 'Time_diff_between_Troponin_measurements')   # Get time difference between troponin measurements in initial and subsequent row
        #print(troponin_1st_reading, troponin_2nd_reading, time_diff_between_troponin_measurements)
        if np.abs((troponin_2nd_reading - troponin_1st_reading)/troponin_1st_reading) >= 0.2 and time_diff_between_troponin_measurements < 12:   # If loop to determine if the absolute difference in troponin values is greater than 20% and if the time difference between troponin measurements is less than 12 hours
            subject_id_list.append(subject1.index[i+1])
            break

SyntaxError: 'continue' not properly in loop (<ipython-input-14-81025fc6b4a7>, line 2)